.regSplitter{
    margin: 0;
     color: #999999;
}
#acceptornot{
    display: flex;
    flex-direction: row;
    padding-left: 1.8em;
    padding-top: 1em;
    padding-bottom: 1em;
     background-color: #555555;
}
#requestText{
    font-size: 1.4em;
    color: white;
}
#spaceDiv{
    height: 1em;
    width: 11em;
}
#spaceDiv2{
    height: 1em;
    width: 1em;
}